In [1]:
#tuples are data structure
# they are immutable

t=(1,2,'three',4.0)
print(t)
print(type(t))

(1, 2, 'three', 4.0)
<class 'tuple'>

In [7]:
t=(1,2,3,'four','five',6.0)
#count method
print(t.count(1))
#index method
print(t.index(3))
#slicing
print(t[:3])
print(t[:])
print(t[::2])
#len function
print(len(t))

1
2
(1, 2, 3)
(1, 2, 3, 'four', 'five', 6.0)
(1, 3, 'five')
6

In [8]:
#for loop
t=(1,2,3,'four','five',6.0)
for i in t:
    print(i)

1
2
3
four
five
6.0

In [10]:
#tuple with one element
t=(1)
print(type(t)) #int
# add comma so complier will understand
t=(1,)
print(type(t))

<class 'int'>
<class 'tuple'>

In [12]:
# if dont use parenthesis than bydefault it is tuple
mixed=1,2,3.0,"abc"
print(type(mixed))

<class 'tuple'>

In [24]:
#tuple unpacking
mixed=(1,2,3)
m1,m2,m3 = mixed
print(m1)
print(m2)
print(m3)

1
2
3

In [25]:
t = (0, 1, 2)

a, b, c = t

print(a)
print(b)
print(c)

0
1
2

In [26]:
#list inside tuple
a=(1,2,[3,4,5])
print(a)
a[2].append(6)
print(a)

(1, 2, [3, 4, 5])
(1, 2, [3, 4, 5, 6])

In [31]:
#min,max,sum function
t=(1,3,5,7,8,2,3,9,10)
print(min(t)) #min
print(max(t)) #max
print(sum(t)) #sum

1
10
48

In [32]:
#function returning 2 values
def func(int1,int2):
    add=int1+int2
    multiply=int1*int2
    return add, multiply
print(func(2,3))

(5, 6)

In [37]:
#range function
t=tuple(range(1,11))
print(t)

#tuple to list
num=list(t)
print(num)

#tuple to string
num=str(t)
print(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)